---
- name: Run package installation
  command: |
    bash -lc "cd {{ project_path }} \
    && ~/.local/bin/bcl package install"
  environment:
    PATH: "{{ lookup('env','PATH') }}"
  when: bcl_package_install
  changed_when: false
