---
- name: Create work directory
  file:
    path: $HOME/{{ work_dir }}
    state: directory
    mode: 0777

- name: Clone TenantCloud promo project
  git:
    repo: "{{ promo_git }}"
    dest: "{{ project_path }}"
    version: "{{ promo_git_branch }}"
    force: true

- name: Copy and setup TenantCloud promo environment file
  copy:
    src: "{{ project_path }}/.env.example"
    dest: "{{ project_path }}/.env"
    mode: 0644
    remote_src: true
