---
- name: Run deploy promo script
  command: $HOME/{{ work_dir }}/www.{{ work_domain }}/sh/update.sh
  args:
    executable: /bin/zsh
  environment:
    PATH: "{{ lookup('env','PATH') }}"
  changed_when: false

- name: Restart nginx
  become: true
  command: /usr/local/bin/brew services restart nginx-full
  changed_when: false

- name: Copy info file
  template:
    src: info.txt.j2
    dest: $HOME/Desktop/www.{{ work_domain }}.txt
    mode: 0777
  changed_when: false
