Congratulations, you have successfully installed {{ promo_dir }}.

 Ansible role for install {{ promo_dir }} project.

  - {{ database }}_promo

  URL Promo site        - https://www.{{ work_domain }}
  URL Minio site        - https://home.{{ work_domain }}:9002
  URL Socket site       - https://home.{{ work_domain }}:9090
  URL Mailcatcher site  - http://127.0.0.1:1080
  URL Supervisor site   - http://127.0.0.1:9001

 If you want to pull the latest changes, switch to the necessary branch and run the script,
which can be found on the following path - /Users/{{ work_user }}/{{ work_dir }}/{{ promo_dir }}/sh/update.sh

 If you want to run basic tests, run the following from the project folder:

 - npm run test //carma-test
 - vendor/bin/phpunit //php-unit-test
 - protractor protractor.conf.js --crawler //e2e-test

    * Before run e2e test you must run webdriver:
        - webdriver-manager clean && node_modules/webdriver-manager/bin/webdriver-manager update --versions.chrome=71.0.3578.80 && node_modules/webdriver-manager/bin/webdriver-manager start --versions.chrome=71.0.3578.80
