Congratulations, you have successfully installed www.{{ work_domain }} project.

 Ansible role for install www.{{ work_domain }} project.

  - tenantcloud_promo

  URL Promo site        - https://www.{{ work_domain }}
  URL Minio site        - https://minio-www.{{ work_domain }}
  URL Supervisor site   - https://supervisor-www.{{ work_domain }}

 If you want to pull the latest changes, switch to the necessary branch and run the script,
 which can be found on the following path - {{ ansible_env.HOME }}/{{ work_dir }}/www.{{ work_domain }}/sh/update.sh
