#!/bin/sh

source $HOME/{{ work_dir }}/vault/vault_functions.sh

PROJECT_NAME=$(basename -s .git `git config --get remote.origin.url`)

VAULT_BRANCH=$(git branch | grep \* | cut -d ' ' -f2)

APP_ENV=$(get_env_value APP_ENV .env)

vault_check_path "$PROJECT_NAME/dev/$VAULT_BRANCH"

if [[ $VAULT_PATH  == "" ]]; then
  vault_put "$PROJECT_NAME/dev/$VAULT_BRANCH" .env
fi

vault_get "$PROJECT_NAME/dev/$VAULT_BRANCH" .env
